@charset "utf-8"

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700')

@font-face 
   font-family: 'Monopoly'
   src: url("fonts/Monopoly Bold.ttf") format("truetype")


// Set your brand colors
$brown: #B85B28
$green-button: #71945B
$red: #7E0000
$white: #ECECEC
$light-green: #BFDBAE
$button-red: #C70000
$light-red: #D7BAAA

// Update Bulma's global variables
$family-sans-serif: 'Monopoly', sans-serif
$primary: $brown
$is-danger: $red
$warning: $button-red
$link: $green-button
$widescreen-enabled: false
$fullhd-enabled: false
$text: $white
$success: $light-red

// Update some of Bulma's component variables
$body-background-color: $light-green
$control-border-width: 2px
$input-border-color: transparent
$input-shadow: none

.tint
  cursor: pointer
  
.tint:before
  content: ""
  display: block
  position: absolute
  border-radius: 2px
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: #000000
  opacity: 0.65

.modal
  /* arbitrary styling */
  background-color: white
  border-radius: 5px
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2)
  position:fixed


// Import only what you need from Bulma

@import '../../node_modules/bulma/bulma.sass'